* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

*:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	margin: 0;
}

.wrapper {
	max-width: 1280px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	margin-left: -20px;
	margin-right: -20px;
}

.nested {
	margin-bottom: 0 !important;
}

.wrapper:before,
.row:before {
	display: table;
	content: " ";
}

.wrapper:after,
.row:after {
	clear: both;
	display: table;
	content: " ";
}

.dt-1, .tl-1, .tp-1, .ml-1, .mp-1,
.dt-2, .tl-2, .tp-2, .ml-2, .mp-2,
.dt-3, .tl-3, .tp-3, .ml-3, .mp-3,
.dt-4, .tl-4, .tp-4, .ml-4, .mp-4,
.dt-5, .tl-5, .tp-5, .ml-5, .mp-5,
.dt-6, .tl-6, .tp-6, .ml-6, .mp-6,
.dt-7, .tl-7, .tp-7, .ml-7, .mp-7,
.dt-8, .tl-8, .tp-8, .ml-8, .mp-8,
.dt-9, .tl-9, .tp-9, .ml-9, .mp-9,
.dt-10, .tl-10, .tp-10, .ml-10, .mp-10,
.dt-11, .tl-11, .tp-11, .ml-11, .mp-11 {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 1px;
	margin-bottom: 20px;
}

.mp-1 {
	width: 9.09090909091%;
}

.mp-2 {
	width: 18.1818181818%;
}

.mp-3 {
	width: 27.2727272727%;
}

.mp-4 {
	width: 36.3636363636%;
}

.mp-5 {
	width: 45.4545454545%;
}

.mp-6 {
	width: 54.5454545455%;
}

.mp-7 {
	width: 63.6363636364%;
}

.mp-8 {
	width: 72.7272727273%;
}

.mp-9 {
	width: 81.8181818182%;
}

.mp-10 {
	width: 90.9090909091%;
}

.mp-11 {
	width: 100%;
}

.ml-1 {
	width: 9.09090909091%;
}

.ml-2 {
	width: 18.1818181818%;
}

.ml-3 {
	width: 27.2727272727%;
}

.ml-4 {
	width: 36.3636363636%;
}

.ml-5 {
	width: 45.4545454545%;
}

.ml-6 {
	width: 54.5454545455%;
}

.ml-7 {
	width: 63.6363636364%;
}

.ml-8 {
	width: 72.7272727273%;
}

.ml-9 {
	width: 81.8181818182%;
}

.ml-10 {
	width: 90.9090909091%;
}

.ml-11 {
	width: 100%;
}

.tp-1 {
	width: 9.09090909091%;
}

.tp-2 {
	width: 18.1818181818%;
}

.tp-3 {
	width: 27.2727272727%;
}

.tp-4 {
	width: 36.3636363636%;
}

.tp-5 {
	width: 45.4545454545%;
}

.tp-6 {
	width: 54.5454545455%;
}

.tp-7 {
	width: 63.6363636364%;
}

.tp-8 {
	width: 72.7272727273%;
}

.tp-9 {
	width: 81.8181818182%;
}

.tp-10 {
	width: 90.9090909091%;
}

.tp-11 {
	width: 100%;
}

.tl-1 {
	width: 9.09090909091%;
}

.tl-2 {
	width: 18.1818181818%;
}

.tl-3 {
	width: 27.2727272727%;
}

.tl-4 {
	width: 36.3636363636%;
}

.tl-5 {
	width: 45.4545454545%;
}

.tl-6 {
	width: 54.5454545455%;
}

.tl-7 {
	width: 63.6363636364%;
}

.tl-8 {
	width: 72.7272727273%;
}

.tl-9 {
	width: 81.8181818182%;
}

.tl-10 {
	width: 90.9090909091%;
}

.tl-11 {
	width: 100%;
}

.dt-1 {
	width: 9.09090909091%;
}

.dt-2 {
	width: 18.1818181818%;
}

.dt-3 {
	width: 27.2727272727%;
}

.dt-4 {
	width: 36.3636363636%;
}

.dt-5 {
	width: 45.4545454545%;
}

.dt-6 {
	width: 54.5454545455%;
}

.dt-7 {
	width: 63.6363636364%;
}

.dt-8 {
	width: 72.7272727273%;
}

.dt-9 {
	width: 81.8181818182%;
}

.dt-10 {
	width: 90.9090909091%;
}

.dt-11 {
	width: 100%;
}

.indent-dt-1 {
	margin-left: 9.09090909091%;
}

.indent-dt-2 {
	margin-left: 18.1818181818%;
}

.indent-dt-3 {
	margin-left: 27.2727272727%;
}

.indent-dt-4 {
	margin-left: 36.3636363636%;
}

.indent-dt-5 {
	margin-left: 45.4545454545%;
}

.indent-dt-6 {
	margin-left: 54.5454545455%;
}

.indent-dt-7 {
	margin-left: 63.6363636364%;
}

.indent-dt-8 {
	margin-left: 72.7272727273%;
}

.indent-dt-9 {
	margin-left: 81.8181818182%;
}

.indent-dt-10 {
	margin-left: 90.9090909091%;
}

.indent-dt-11 {
	margin-left: 100%;
}

@media (max-width: 1279px) {
	.wrapper {
		max-width: 1170px;
	}
}

@media (max-width : 1169px) {
	.wrapper {
		max-width: 1024px;
	}

	.dt-1,
	.dt-2,
	.dt-3,
	.dt-4,
	.dt-5,
	.dt-6,
	.dt-7,
	.dt-8,
	.dt-9,
	.dt-10,
	.dt-11 {
		width: 100%;
	}

	.mp-1 {
		width: 9.09090909091%;
	}

	.mp-2 {
		width: 18.1818181818%;
	}

	.mp-3 {
		width: 27.2727272727%;
	}

	.mp-4 {
		width: 36.3636363636%;
	}

	.mp-5 {
		width: 45.4545454545%;
	}

	.mp-6 {
		width: 54.5454545455%;
	}

	.mp-7 {
		width: 63.6363636364%;
	}

	.mp-8 {
		width: 72.7272727273%;
	}

	.mp-9 {
		width: 81.8181818182%;
	}

	.mp-10 {
		width: 90.9090909091%;
	}

	.mp-11 {
		width: 100%;
	}

	.ml-1 {
		width: 9.09090909091%;
	}

	.ml-2 {
		width: 18.1818181818%;
	}

	.ml-3 {
		width: 27.2727272727%;
	}

	.ml-4 {
		width: 36.3636363636%;
	}

	.ml-5 {
		width: 45.4545454545%;
	}

	.ml-6 {
		width: 54.5454545455%;
	}

	.ml-7 {
		width: 63.6363636364%;
	}

	.ml-8 {
		width: 72.7272727273%;
	}

	.ml-9 {
		width: 81.8181818182%;
	}

	.ml-10 {
		width: 90.9090909091%;
	}

	.ml-11 {
		width: 100%;
	}

	.tp-1 {
		width: 9.09090909091%;
	}

	.tp-2 {
		width: 18.1818181818%;
	}

	.tp-3 {
		width: 27.2727272727%;
	}

	.tp-4 {
		width: 36.3636363636%;
	}

	.tp-5 {
		width: 45.4545454545%;
	}

	.tp-6 {
		width: 54.5454545455%;
	}

	.tp-7 {
		width: 63.6363636364%;
	}

	.tp-8 {
		width: 72.7272727273%;
	}

	.tp-9 {
		width: 81.8181818182%;
	}

	.tp-10 {
		width: 90.9090909091%;
	}

	.tp-11 {
		width: 100%;
	}

	.tl-1 {
		width: 9.09090909091%;
	}

	.tl-2 {
		width: 18.1818181818%;
	}

	.tl-3 {
		width: 27.2727272727%;
	}

	.tl-4 {
		width: 36.3636363636%;
	}

	.tl-5 {
		width: 45.4545454545%;
	}

	.tl-6 {
		width: 54.5454545455%;
	}

	.tl-7 {
		width: 63.6363636364%;
	}

	.tl-8 {
		width: 72.7272727273%;
	}

	.tl-9 {
		width: 81.8181818182%;
	}

	.tl-10 {
		width: 90.9090909091%;
	}

	.tl-11 {
		width: 100%;
	}

	.indent-dt-1,
	.indent-dt-2,
	.indent-dt-3,
	.indent-dt-4,
	.indent-dt-5,
	.indent-dt-6,
	.indent-dt-7,
	.indent-dt-8,
	.indent-dt-9,
	.indent-dt-10,
	.indent-dt-11 {
		margin-left: 100%;
	}

	.indent-tl-1 {
		margin-left: 9.09090909091%;
	}

	.indent-tl-2 {
		margin-left: 18.1818181818%;
	}

	.indent-tl-3 {
		margin-left: 27.2727272727%;
	}

	.indent-tl-4 {
		margin-left: 36.3636363636%;
	}

	.indent-tl-5 {
		margin-left: 45.4545454545%;
	}

	.indent-tl-6 {
		margin-left: 54.5454545455%;
	}

	.indent-tl-7 {
		margin-left: 63.6363636364%;
	}

	.indent-tl-8 {
		margin-left: 72.7272727273%;
	}

	.indent-tl-9 {
		margin-left: 81.8181818182%;
	}

	.indent-tl-10 {
		margin-left: 90.9090909091%;
	}

	.indent-tl-11 {
		margin-left: 100%;
	}
}

@media (max-width: 1023px) {
	.tl-1,
	.tl-2,
	.tl-3,
	.tl-4,
	.tl-5,
	.tl-6,
	.tl-7,
	.tl-8,
	.tl-9,
	.tl-10,
	.tl-11 {
		width: 100%;
	}

	.mp-1 {
		width: 9.09090909091%;
	}

	.mp-2 {
		width: 18.1818181818%;
	}

	.mp-3 {
		width: 27.2727272727%;
	}

	.mp-4 {
		width: 36.3636363636%;
	}

	.mp-5 {
		width: 45.4545454545%;
	}

	.mp-6 {
		width: 54.5454545455%;
	}

	.mp-7 {
		width: 63.6363636364%;
	}

	.mp-8 {
		width: 72.7272727273%;
	}

	.mp-9 {
		width: 81.8181818182%;
	}

	.mp-10 {
		width: 90.9090909091%;
	}

	.mp-11 {
		width: 100%;
	}

	.ml-1 {
		width: 9.09090909091%;
	}

	.ml-2 {
		width: 18.1818181818%;
	}

	.ml-3 {
		width: 27.2727272727%;
	}

	.ml-4 {
		width: 36.3636363636%;
	}

	.ml-5 {
		width: 45.4545454545%;
	}

	.ml-6 {
		width: 54.5454545455%;
	}

	.ml-7 {
		width: 63.6363636364%;
	}

	.ml-8 {
		width: 72.7272727273%;
	}

	.ml-9 {
		width: 81.8181818182%;
	}

	.ml-10 {
		width: 90.9090909091%;
	}

	.ml-11 {
		width: 100%;
	}

	.tp-1 {
		width: 9.09090909091%;
	}

	.tp-2 {
		width: 18.1818181818%;
	}

	.tp-3 {
		width: 27.2727272727%;
	}

	.tp-4 {
		width: 36.3636363636%;
	}

	.tp-5 {
		width: 45.4545454545%;
	}

	.tp-6 {
		width: 54.5454545455%;
	}

	.tp-7 {
		width: 63.6363636364%;
	}

	.tp-8 {
		width: 72.7272727273%;
	}

	.tp-9 {
		width: 81.8181818182%;
	}

	.tp-10 {
		width: 90.9090909091%;
	}

	.tp-11 {
		width: 100%;
	}

	.indent-tl-1,
	.indent-tl-2,
	.indent-tl-3,
	.indent-tl-4,
	.indent-tl-5,
	.indent-tl-6,
	.indent-tl-7,
	.indent-tl-8,
	.indent-tl-9,
	.indent-tl-10,
	.indent-tl-11 {
		margin-left: 100%;
	}

	.indent-tp-1 {
		margin-left: 9.09090909091%;
	}

	.indent-tp-2 {
		margin-left: 18.1818181818%;
	}

	.indent-tp-3 {
		margin-left: 27.2727272727%;
	}

	.indent-tp-4 {
		margin-left: 36.3636363636%;
	}

	.indent-tp-5 {
		margin-left: 45.4545454545%;
	}

	.indent-tp-6 {
		margin-left: 54.5454545455%;
	}

	.indent-tp-7 {
		margin-left: 63.6363636364%;
	}

	.indent-tp-8 {
		margin-left: 72.7272727273%;
	}

	.indent-tp-9 {
		margin-left: 81.8181818182%;
	}

	.indent-tp-10 {
		margin-left: 90.9090909091%;
	}

	.indent-tp-11 {
		margin-left: 100%;
	}
}

@media (max-width: 767px) {
	.tp-1,
	.tp-2,
	.tp-3,
	.tp-4,
	.tp-5,
	.tp-6,
	.tp-7,
	.tp-8,
	.tp-9,
	.tp-10,
	.tp-11 {
		width: 100%;
	}

	.mp-1 {
		width: 9.09090909091%;
	}

	.mp-2 {
		width: 18.1818181818%;
	}

	.mp-3 {
		width: 27.2727272727%;
	}

	.mp-4 {
		width: 36.3636363636%;
	}

	.mp-5 {
		width: 45.4545454545%;
	}

	.mp-6 {
		width: 54.5454545455%;
	}

	.mp-7 {
		width: 63.6363636364%;
	}

	.mp-8 {
		width: 72.7272727273%;
	}

	.mp-9 {
		width: 81.8181818182%;
	}

	.mp-10 {
		width: 90.9090909091%;
	}

	.mp-11 {
		width: 100%;
	}

	.ml-1 {
		width: 9.09090909091%;
	}

	.ml-2 {
		width: 18.1818181818%;
	}

	.ml-3 {
		width: 27.2727272727%;
	}

	.ml-4 {
		width: 36.3636363636%;
	}

	.ml-5 {
		width: 45.4545454545%;
	}

	.ml-6 {
		width: 54.5454545455%;
	}

	.ml-7 {
		width: 63.6363636364%;
	}

	.ml-8 {
		width: 72.7272727273%;
	}

	.ml-9 {
		width: 81.8181818182%;
	}

	.ml-10 {
		width: 90.9090909091%;
	}

	.ml-11 {
		width: 100%;
	}

	.indent-tp-1,
	.indent-tp-2,
	.indent-tp-3,
	.indent-tp-4,
	.indent-tp-5,
	.indent-tp-6,
	.indent-tp-7,
	.indent-tp-8,
	.indent-tp-9,
	.indent-tp-10,
	.indent-tp-11 {
		margin-left: 100%;
	}

	.indent-ml-1 {
		margin-left: 9.09090909091%;
	}

	.indent-ml-2 {
		margin-left: 18.1818181818%;
	}

	.indent-ml-3 {
		margin-left: 27.2727272727%;
	}

	.indent-ml-4 {
		margin-left: 36.3636363636%;
	}

	.indent-ml-5 {
		margin-left: 45.4545454545%;
	}

	.indent-ml-6 {
		margin-left: 54.5454545455%;
	}

	.indent-ml-7 {
		margin-left: 63.6363636364%;
	}

	.indent-ml-8 {
		margin-left: 72.7272727273%;
	}

	.indent-ml-9 {
		margin-left: 81.8181818182%;
	}

	.indent-ml-10 {
		margin-left: 90.9090909091%;
	}

	.indent-ml-11 {
		margin-left: 100%;
	}
}

@media (max-width: 567px) {
	.ml-1,
	.ml-2,
	.ml-3,
	.ml-4,
	.ml-5,
	.ml-6,
	.ml-7,
	.ml-8,
	.ml-9,
	.ml-10,
	.ml-11 {
		width: 100%;
	}

	.mp-1 {
		width: 9.09090909091%;
	}

	.mp-2 {
		width: 18.1818181818%;
	}

	.mp-3 {
		width: 27.2727272727%;
	}

	.mp-4 {
		width: 36.3636363636%;
	}

	.mp-5 {
		width: 45.4545454545%;
	}

	.mp-6 {
		width: 54.5454545455%;
	}

	.mp-7 {
		width: 63.6363636364%;
	}

	.mp-8 {
		width: 72.7272727273%;
	}

	.mp-9 {
		width: 81.8181818182%;
	}

	.mp-10 {
		width: 90.9090909091%;
	}

	.mp-11 {
		width: 100%;
	}

	.indent-ml-1,
	.indent-ml-2,
	.indent-ml-3,
	.indent-ml-4,
	.indent-ml-5,
	.indent-ml-6,
	.indent-ml-7,
	.indent-ml-8,
	.indent-ml-9,
	.indent-ml-10,
	.indent-ml-11 {
		margin-left: 100%;
	}

	.indent-mp-1 {
		margin-left: 9.09090909091%;
	}

	.indent-mp-2 {
		margin-left: 18.1818181818%;
	}

	.indent-mp-3 {
		margin-left: 27.2727272727%;
	}

	.indent-mp-4 {
		margin-left: 36.3636363636%;
	}

	.indent-mp-5 {
		margin-left: 45.4545454545%;
	}

	.indent-mp-6 {
		margin-left: 54.5454545455%;
	}

	.indent-mp-7 {
		margin-left: 63.6363636364%;
	}

	.indent-mp-8 {
		margin-left: 72.7272727273%;
	}

	.indent-mp-9 {
		margin-left: 81.8181818182%;
	}

	.indent-mp-10 {
		margin-left: 90.9090909091%;
	}

	.indent-mp-11 {
		margin-left: 100%;
	}
}

// Hide columns
@media (max-width: 567px) {
	.mp-hide {
		display: none !important;
	}
	
	.ml-hide {
		display: none !important;
	}
	
	.tp-hide {
		display: none !important;
	}
	
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (min-width: 568px) and (max-width: 767px) {
	.ml-hide {
		display: none !important;
	}
	
	.tp-hide {
		display: none !important;
	}
	
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (min-width: 768) and (max-width: 1023px) {
	.tp-hide {
		display: none !important;
	}
	
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (max-width: 1024px) {
	.tl-hide {
		display: none !important;
	}
	
	.dt-hide {
		display: none !important;
	}
}

@media (min-width: 1025px) {
	.dt-hide {
		display: none !important;
	}
}