//output:index.html
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="mobile-web-app-capable" content="yes")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    link(rel="stylesheet" type="text/css" media="screen" href="./css/style.css")
    title the talking drums
    script(src="js/helpers.js")
  body
    div(id="container")
      div(class="info")
        h1 the talking drums
        p(class="paragraph") the talking drums - sending images through rhythmic patterns. An encrypted language to empower a musical community by sending secret messages, avoiding surveillance and listening to each other.
        p by #[a(href="http://www.nicolelhuillier.com/") Nicole L&#39;Huillier], #[a(href="http://codigogenerativo.com/") Thomas Sanchez Lengeling], and #[a(href="http://www.yasushisakai.com/") Yasushi Sakai].
        p click image to see next
      div(class="images")
        a(name="00" href="#01")
          img(src="https://dl.dropboxusercontent.com/s/bxsa4huj609e2o5/00.jpg")
        a(name="01" href="#02")
          img(src="https://dl.dropboxusercontent.com/s/fe4crj5pzt5m32v/01.jpg")
        a(name="02" href="#03")
          img(src="https://dl.dropboxusercontent.com/s/gkhd4kto9op73p7/02.jpg")
        a(name="03" href="#04")
          img(src="https://dl.dropboxusercontent.com/s/erjrquito3orcg9/03.jpg")
        a(name="04" href="#05")
          img(src="https://dl.dropboxusercontent.com/s/ml03l3zf9vopjtu/04.jpg")
        a(name="05" href="#06")
          img(src="https://dl.dropboxusercontent.com/s/7qrpael27d2lmfe/05.jpg")
        a(name="06" href="#07")
          img(src="https://dl.dropboxusercontent.com/s/cwf4t5acv308sye/06.jpg")
        a(name="07" href="#08")
          img(src="https://dl.dropboxusercontent.com/s/hrvxcss219p4em5/07.jpg")
        a(name="08" href="#09")
          img(src="https://dl.dropboxusercontent.com/s/9yw0qvntlaubhek/08.jpg")
        a(name="09" href="#video")
          img(src="https://dl.dropboxusercontent.com/s/3auwqxw7rbvmd2v/09.jpg")
        video(id="video" width="100%" src="https://dl.dropboxusercontent.com/s/n67nepb8h3dlvel/video.mov?dl=0" controls)
        p the talking drums [csail]
        div(class="spacer") #[a(href="#00") back to top]





