//output:index.html
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="mobile-web-app-capable" content="yes")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    link(rel="stylesheet" type="text/css" media="screen" href="./css/style.css")
    title the talking drums
    script(src="js/fullscreen.js")
  body
    div(id="container")
      div(class="info")
        h1 the talking drums
        p(class="paragraph") the talking drums - sending images through rhythmic patterns. An encrypted language to empower a musical community by sending secret messages, avoiding surveillance and listening to each other.
        p by #[a(href="http://www.nicolelhuillier.com/") Nicole L&#39;Huillier], #[a(href="http://codigogenerativo.com/") Thomas Sanchez Lengeling], and #[a(href="http://www.yasushisakai.com/") Yasushi Sakai].
        p click image to see next
      div(class="images")
        a(name="00" href="#01")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/00.jpg")
        a(name="01" href="#02")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/01.jpg")
        a(name="02" href="#03")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/02.jpg")
        a(name="03" href="#04")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/03.jpg")
        a(name="04" href="#05")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/04.jpg")
        a(name="05" href="#06")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/05.jpg")
        a(name="06" href="#07")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/06.jpg")
        a(name="07" href="#08")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/07.jpg")
        a(name="08" href="#09")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/08.jpg")
        a(name="09" href="#00")
          img(src="https://dl.dropboxusercontent.com/u/16365575/images/talkingdrums/09.jpg")
        div(class="spacer") #[a(href="#00") back to top]





